@using MvcRestaurant.ViewModel

@model MvcRestaurant.ViewModel.BookingTable


@*@using MvcRestaurant.Models

@model IEnumerable<MvcRestaurant.Models.Table>
*@
@{
    ViewBag.Title = "ViewDiagram";
}

<h2>ViewDiagram</h2>

<div>
    <table border="1">
        @for (int i = 0; i < 3; i++)
        {
          <tr>
              @for (int j = 0; j < 3; j++)
              {
                <td class="myCell">
                     @foreach (var item in Model.TablesView)
                    {
                        if (item.CoordinatesTable.CoordinateX == i && item.CoordinatesTable.CoordinateY == j)
                        {
                            <div class ="Img">                                
                                @item.DimensionTable
                                  </div>
                                @Html.Image("/Content/images/imagine1.png", "alt", "100", new {id = "myImage", border = "0", @class = "table" })
                           
                        }
                    }
                </td>
              }
          </tr>
        }

    </table>


</div>

    <div style="float:left;"> 
    <ul id="seatDescription">
        <li style="background:url('/Content/images/imagine1.png') no-repeat scroll 0 0 transparent;" id="Imag">Available Table</li>
        <li style="background:url('/Content/images/imagine2.png') no-repeat scroll 0 0 transparent;">Reserved Table</li>
        <li style="background:url('/Content/images/imagine3.png') no-repeat scroll 0 0 transparent;">Occupied Table</li>
    </ul>
    </div>
         <p>
            <input type="submit" value="Confirm Reservation" />
        </p>

@foreach (var item in Model.BookingFormView)
{ 
    
            @item.NumberOfPeople
      
            @Html.DisplayFor(modelItem => item.ReservationDate)
   
           @Html.DisplayFor(modelItem => item.TimeOfBooking)
 }


<script>
    $(".table").on('click', function () {

        if ($(this).attr("src").toString().indexOf('imagine1.png') != -1) {

            this.src = this.src.replace("imagine1.png", "imagine2.png");

        }

        else {

            this.src = this.src.replace("imagine2.png", "imagine1.png");

        }

    });
</script>
<script>
    $(function () {
        $("#result").selectable();
    });
  </script>



