@model MvcReadDateUser.Models.UserInfo

  @using MvcReadDateUser.Models;

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="jquery-1.3.2.min.js"></script>
<h2>Index</h2>

@using (Html.BeginForm("Display message"))
{
    <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
    <div class="editor-field">
            @Html.EditorFor(model => model.FirstName, new { id = "Fname"})
        </div>
    <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
    <div class="editor-field">
            @Html.EditorFor(model => model.LastName, new { id = "Sname" })
        </div>
    <div class="editor-label">
            @Html.LabelFor(model => model.Birthdate)
        </div>
    <div class="editor-field">
            @*@Html.EditorFor(model => model.Birthdate )*@
         @Html.TextBoxFor(m => m.Birthdate, new {id = "Birthdate", @class="datetime", type = "datetime"})
        </div>
    <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
    <div class="editor-field">
            @Html.EditorFor(model => model.Age )
        </div>
    <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
    @*<div class="editor-field">
        Male:   @Html.RadioButton("Sex","Male")  
        Female: @Html.RadioButton("Sex","Female")  
        </div>*@
   
    <div id="gen"> 
    <input type="radio" class="button" id="Male" name="gender" value="male"> <label for="Male">Male </label>
    <input type="radio" class="button" id="Female" name="gender" value="female"><label for="Female">Female</label>
</div>
    <div class="editor-label">
            @Html.LabelFor(model => model.Hobby)
        </div>
    <div class="editor-field">
            @Html.DropDownListFor(model => model.Hobby, new SelectList(Enum.GetValues(typeof(Hobby))).OrderBy(l => l.Text), "Select Hobby" )
        </div>

    <p>
            <input  id="submitButton" type="submit" value="Submit" />
        </p>
    <p>
            <input  id="displayMessage" type="submit" value="Display message"  />
        </p>
    @Html.TextBox("Message", "Hello", new { @class = "form-control", @id="messageTxt" })  

    <span id="submitdata"></span>
 
  
}
<script>
    $(document).ready(function() {
        $("#displayMessage").click(function(e) {
            e.preventDefault();
            var fname = $("#Fname").val();
            var sname = $("#Sname").val();
            if(!(fname == '' || sname == '')) {
                $("#messageTxt").empty();
                $("#messageTxt").append("FirstName: " + fname + "<br/>LastName: " + sname);
                } else {
                alert("Please complete the fields.");
            }
        });
    
    });

</script>
<script>
    //$("#messageTxt").kendoNumericTextBox();

    //var numerictextbox = $("#messageTxt);

    //var setValue = function () {
    //    numerictextbox.value($("#Id").val());
    //};
    //$("#displayMessage").click(setValue);

</script>
<script>
    //$(document).ready(function () {
    //    $('#displayMessage').click(function () {
    //        $('#messageTxt').val('#Id');
    //    }
    //    );
    //});

</script>

<script type="text/javascript">
    $("button:#Get").click(function () {

        $('#msg').html($('input:textbox').val());

    });
    </script>
<script>
    $(document).ready(function(){
        $("input[name=gender]").click(function () {
            console.log($("form input").length);
            if ($(this).val() == "male") {
                $("form input").addClass('blue');
                $("select").addClass('blue');
            }
            if ($(this).val() == "female") {
                $("form input").addClass('red');
                $("select").addClass('red');
            }
           // console.log($(this).val());
          }
        ); 
    });
    
</script>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("The id is :" + $('.datetime').attr("id"));
        $('.datetime').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });
</script>  



